body {
  font-family: $open-sans;
  color: $color-black;
}

.heading-primary {
  font-size: 3.8rem;
  font-weight: normal;
  line-height: 4rem;
  margin-top:2rem;
  margin-bottom:2rem;
  color:$color-neutral-blue;
}

.heading-secondary {
  font-size: 2.4rem;
  font-weight: normal;
  line-height: 2.8rem;
}

.heading-tertiary {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.4rem;
}

.body-bold {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2rem;
}

.body-normal {
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 2rem;
}

.label {
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 2.4rem;
}

.caption {
  color:rgb(31, 31, 31);
  margin-left:5%;
  margin-right:5%;
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 1.6rem;
}

.project {
  &__title {
    margin:5%;
    color: $color-primary-blue;
  }

  &__client {
    color:rgb(31, 31, 31);
    margin:5%;
  }

  &__date {
    position: absolute;
    left:1.35rem;
    bottom:4.5rem;
    color:rgb(158, 158, 158);
  }
}
