.login {

    &__main {
        text-align: center;
        background: rgb(243, 243, 243);
        height:100%;
        width:100%;
        margin:0;
        padding:0;
        padding-top:4.5rem;
    }

    &__header {
        color:$color-neutral-blue;
        font-size: 4rem;
    }


    &__input {
        box-shadow: 0 6px 8px -8px #363636;
        width:17rem;
        height:2rem;
        border-radius: 4px;
        border-style: none;
        border:1px solid $color-neutral-blue;
        font-size:14px;
        padding:.5rem;
        background-color: $color-pastel-blue;
        color:rgb(32, 32, 32);
        margin:1%;

        &:focus {
            outline:none;
        }



    }

    &__inputLabel {
        display:inline-block;
        width:5.5rem;
        font-size:14px;
        color:rgb(32, 32, 32);
        padding:1%;
    }

    &__loginButton {
        display:inline-block;
        margin:1rem;
        border-style: none;
        background-color: $color-neutral-blue;
        color:rgb(241, 241, 241);
        padding:1rem;
        padding-left:2rem;
        padding-right:2rem;
        border:none;
        border-radius:4px;

        box-shadow: 0 6px 8px -8px #363636;

        &:hover {
            box-shadow: 0 6px 8px -5px #363636;
            cursor: pointer;
            background-color:rgb(110, 117, 218);
        }

        &:focus {
            outline:none;
        }
    }


    &__forgotPassword {
        color:rgb(20, 20, 68);

        &:hover {
            cursor: pointer;
            border-bottom: 1px solid rgb(20, 20, 68);;
        }
    }

    
}


