.card {
    &__structure {
        display: inline-block;
        position: relative;
        width: 20rem;
        height:32rem;
        border:.2rem solid $color-neutral-blue;
        margin:1rem;
        border-radius: .4rem;
        box-shadow: 0 .3rem .8rem -.3rem #313131;
        overflow:hidden;
        &:hover {
            box-shadow: 0rem .3rem .8rem -.1rem #313131;
        }
    }

    &__project {
        display: inline-block;
        position: relative;
        width: 20rem;
        height:26rem;
        border:.2rem solid $color-neutral-blue;
        margin:1rem;
        border-radius: .4rem;
        box-shadow: 0 .3rem .8rem -.3rem #313131;
        overflow:hidden;
    }

    &__details {
        padding-left:1rem;
        padding-right:1rem;
    }

    &__imageContainer{
        width:100%;
        height:200px;
        display:flex;
        justify-content:center;
        align-items:center;
        overflow:hidden
    }
    &__imageContainerSmall{
        width:100%;
        height:100px;
        display:flex;
        justify-content:center;
        align-items:center;
        overflow:hidden;
        margin-bottom: 10px;
        border:.2rem solid $color-neutral-blue;
        border-radius: .4rem;
        box-shadow: 0 .3rem .8rem -.3rem #313131;
    }
    &__image {
        flex-shrink:0;
        -webkit-flex-shrink: 0;
        // max-width:100%;
        max-height:100%;
        
    }  
    &__centered {
        display:flex;
        justify-content:center;
        align-items:center;
        // overflow:hidden;
        
    }  

    &__title {
        font-weight: bold;
        font-size: 2rem;
        margin-bottom:3%;
        color:rgb(37, 37, 37);
    }

    &__description {
        font-size:1rem;
        color:rgb(155, 155, 155);
    }

    &__contact {
        color:rgb(155, 155, 155);
        position: absolute;
        bottom:1.2rem;
        left:1.2rem;
    }

    &__specialties {
        color:rgb(155, 155, 155);
        margin-top:.8rem;
        height:3rem;
        list-style: none;
        flex-wrap: wrap;
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    
    &__Ear{
        
        position: relative;
        
        &:before {
          content: '';
          display: inline-block;
          clip-path: polygon(100% 0, 82% 0, 100% 13%);
          background-color:$color-neutral-blue ;
          height: 100%;
          width: 100%;
          position: absolute;
        }
      
}

    &__createCard {
        display: inline-block;
        width: 20rem;
        height:32rem;
        border:.2rem solid $color-neutral-blue;
        margin:1rem;
        border-radius: .4rem;
        box-shadow: 0 .3rem .8rem -.3rem #313131;
        overflow:hidden;
        &:hover {
            box-shadow: 0rem .3rem .8rem -.1rem #313131;
            cursor: pointer;
        }
    }

    &__createCardProject {
        display: inline-block;
        width: 20rem;
        height:26rem;
        border:.2rem solid $color-neutral-blue;
        margin:1rem;
        border-radius: .4rem;
        box-shadow: 0 .3rem .8rem -.3rem #313131;
        overflow:hidden;
        &:hover {
            box-shadow: 0rem .3rem .8rem -.1rem #313131;
            cursor: pointer;
        }
    }

    &__plusIcon {
        display:block;
        margin:1%;
    }

    &__plusIconDiv {
        font-size:1.5rem;
        text-align: center;
        width:100%;
        margin-top:9rem;
        color:$color-neutral-blue;
    }


    &__delete {
        right:1.2rem;
        bottom:1.2rem;
        position: absolute;
        color:$color-neutral-blue;
        opacity: .85;

        &:hover {
            cursor: pointer;
        }
    }

    &__edit {
        right:3.2rem;
        bottom:1.2rem;
        position: absolute;
        color:$color-neutral-blue;
        opacity: .85;

        &:hover {
            cursor: pointer;
        }
    }
}

.horizontal-card {
    &__structure {
        display: flex;
        width: 32rem;
        height:20rem;
        border:.2rem solid $color-neutral-blue;
        margin:1rem;
        border-radius: .4rem;
        box-shadow: 0 .3rem .8rem -.3rem #313131;
        overflow:hidden;
        &:hover {
            box-shadow: 0rem .3rem .8rem -.1rem #313131;
        }
    }

    &__imageContainer{
        width:20rem;
        height:100%;
        display:flex;
        justify-content:center;
        align-items:center;
        overflow:hidden;

        &__image {
            flex-shrink:0;
            -webkit-flex-shrink: 0;
            // max-width:100%;
            max-height:100%;
            
        } 
    }

    &__details {
        padding-left:1rem;
        padding-right:1rem;
        width: 10rem;

        &__title {
            font-weight: bold;
            font-size: 2rem;
            margin-bottom:3%;
            color:rgb(37, 37, 37);
        }

        &__description {
            font-size:1rem;
            color:rgb(155, 155, 155);
        }

        &__specialties {
            color:rgb(155, 155, 155);
            margin-top:.8rem;
            height:3rem;
            list-style: none;
            flex-wrap: wrap;
            padding: 0;
            display: flex;
            flex-direction: column;
        }

        &__contact {
            color:rgb(155, 155, 155);
            position: absolute;
            bottom:1.2rem;
            left:1.2rem;
        }
    }
}