.dataTable{
    &__table {
    // width: 270px;
    width: 100%;
    border-collapse: collapse;
    font-size: 1.5rem;
    }

    &__label {
        // width: 170px;
        width: 100%;
        // font-weight: 900;
    }
    
}


.data tr td:last-child{
    text-align:center;
    }
.data thead th:last-child{
    text-align:center;
}
.data tfoot td:last-child{
    text-align:center;
    font-weight: 900;
}

.data tfoot td{
    // text-align:center;
    font-weight: 900;
}

.data tr:hover {background-color: #9EA1A4;}
.data thead{
    font-size: 1.75rem;
    text-align:left;
    border-bottom: 1px solid #ddd;
}
.data th{
    border-bottom: 1px solid #ddd;
}
.data tr td:first-child{
    font-size: 1.5rem;
}
.data tfoot td:first-child{
    font-size: 1.5rem;
    font-weight: 900;
}

