.modal {


    &__structure {
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0, 0, 0, 0.651); /* Black w/ opacity */
    }
      
      /* Modal Content/Box */
      &__modal-content {
        background-color: #ffffffda;
        margin: 10% auto; /* 15% from the top and centered */
        height:55%;
        border: 1px solid $color-neutral-blue;
        border-radius: 4px;
        width: 40%; /* Could be more or less, depending on screen size */
        overflow: none;
        box-shadow: 0px 0px 10px 0px rgb(197, 197, 197);
      }
      &__modal-content-small {
        background-color: #ffffffda;
        margin: 10% auto; /* 15% from the top and centered */
        border: 1px solid $color-neutral-blue;
        border-radius: 4px;
        width: 40%; /* Could be more or less, depending on screen size */
        overflow: none;
        box-shadow: 0px 0px 10px 0px rgb(197, 197, 197);
      }
      
      &__cancelIcon {
        padding:1rem;
        color:rgb(218, 0, 0);
        &:hover {
            cursor: pointer;
        }
      }

      &__form {
        position:relative;
        margin:auto;
        margin-left:30%;
        width:40%;
        height:100%;
      }
      &__deleteBody {
        display:flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-around;
        align-items: center;
        padding: 2rem;
      }
      &__deleteBodyButtons {
        display:flex;
        // flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        padding-bottom: 2rem;
      }
      /* The Close Button */
}