.reportHeader {

    &__h1 {
        color:#5B63DA;
        margin:1rem 0 .8rem 1rem;
        padding-bottom:.4rem;
        display:inline-block;
        font-size:3.2rem;
        border-bottom:1px solid #5B63DA;
        
    }

    &__h2 {
        color:#262626;
        margin:.5rem 0 0rem 1rem;
        font-size:2rem;
    }

    // &__description {
    //     color:#262626;
    //     margin:.5rem 0 0rem 1rem;
    //     border-bottom:1px solid #5B63DA;
    // }


}