.content {
    width: calc(100vw - 23rem) !important;
    position: absolute;
    top: 0px;
    right: 0px;
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}