.stepper {
    height: 20vh;
    width: 80%;
    position: sticky;
    top: 0;
}

.project-metadata-page {
    height: 80vh;
    width: 100%;
    text-align: center;
}

.overview-boxes {
    height: 70%;
}