.App {
    display: flex;
}

.flex-row-center {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}