.App {
    display: flex;
}

.flex-row-center {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: auto;

    &__project-form {
        margin: 5rem 0 5rem 0;
    }

    &__target_audience {
        flex-wrap: wrap;
        width: 70%;
    }

}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    &__project-form {
        width: 60%;
        margin: 5rem 0 5rem 0;
        text-align: center;
    }
}
.checkboxArray{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    // align-items: flex-start;
    flex-direction: column;
    height: 100px;
}