.report {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(18, 10vh);

  &__header {
    grid-area: header;
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 4;

  }

  &__dateClient{
    grid-column-start: 1;
    grid-column-end: 5;
    display:block;
  }

  &__goals {
    grid-row-start: 1;
    grid-row-end: 3;
    justify-content: center;
    align-items: center;
    height:100%;
    display:inline-block;
  }

  &__copy {
    // border: 1px solid black;
    grid-column-start: 9;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: auto auto auto 1rem;
    display:inline-block;
  }

  &__bubble__header {
    // border: 1px solid black;
    grid-column-start: 5;
    grid-column-end: 10;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  &__bubble__text {
    border: 1px solid black;
    grid-column-start: 5;
    grid-column-end: 10;
    grid-row-start: 4;
    grid-row-end: 7;
    // height: 40vh;
    overflow: scroll;

    // &__suggestions{
    // overflow: scroll;
    overflow-x: hidden;
    background-color: #f5f5f5;
    border: 1px solid #dddddd;
    border-radius: 4px 0 4px 0;
    color: #3b3c3e;
    font-size: 1.2rem;
    font-weight: bold;
    left: -1px;
    padding: 1rem;
    margin-bottom: 1rem;
    // }
  }

  &__bubble__chart {
    // border: 1px solid black;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 7;
    // //added  for positioning suggestion on chartio
    // display: inline-block;
    // position: relative;
    // width: 100%;
    // padding-bottom: 100%;
    // vertical-align: top;
    // overflow: hidden;
    width: 70%;
    margin: auto;
    //height: 40vh;
  }

  &__targetInfo {
    border: 1px solid black;
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 7;
    grid-row-end: 10;
  }

  &__pie__text {
    border: 1px solid black;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 10;
    grid-row-end: 14;
  }

  &__pie__chart {
    // border: 1px solid black;
    grid-column-start: 8;
    grid-column-end: 11;
    grid-row-start: 10;
    grid-row-end: 14;
    margin: auto;
  }

  &__educator {
    border: 1px solid black;
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 14;
    grid-row-end: 18;
  }

  &__reanalyze {
    border: 1px solid black;
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 18;
    grid-row-end: 19;
  }
}
