.report {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(20, 10vh);

  &__header {
    grid-area: header;
    border: 1px solid black;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  &__goals {
    border: 1px solid black;
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  &__copy {
    border: 1px solid black;
    grid-column-start: 9;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: auto;
  }

  &__bubble__text {
    // border: 1px solid black;
    grid-column-start: 5;
    grid-column-end: 11;
    grid-row-start: 3;
    grid-row-end: 7;
    height: 40vh;
    overflow: scroll;

    overflow-x:hidden;
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    border-radius: 4px 0 4px 0;
    color: #3B3C3E;
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 10px 7px 5px;
  }

  &__bubble__chart {
    border: 1px solid black;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 7;
    // //added  for positioning suggestion on chartio
    // display: inline-block;
    // position: relative;
    // width: 100%;
    // padding-bottom: 100%;
    // vertical-align: top;
    // overflow: hidden;
    width: 70%;
    margin: auto;
    //height: 40vh;
  }

  &__targetInfo {
    border: 1px solid black;
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 7;
    grid-row-end: 10;
  }

  &__pie__text {
    border: 1px solid black;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 10;
    grid-row-end: 14;
  }

  &__pie__chart {
    border: 1px solid black;
    grid-column-start: 8;
    grid-column-end: 11;
    grid-row-start: 10;
    grid-row-end: 14;
    margin: auto;
  }

  &__educator {
    border: 1px solid black;
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 14;
    grid-row-end: 18;
  }

  &__reanalyze {
    border: 1px solid black;
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 18;
    grid-row-end: 19;
  }
}
