.navUl {
  list-style: none;
  margin-left: 0px;
  margin-top: 0px;
  padding-left:0px;
  width:100%;
  text-align: left;
}

.navBar {
  position: relative;
  height: 100vh;
  width:18%;
  background-color: rgb(66, 66, 66);
  border-right:1px solid rgb(43, 43, 43);
}

.navTitle {
  text-align: center;
  font-size:40px;
  color:rgb(214, 214, 214);
}

.navOption {
  color:#FAFAFA;
  font-size: 16px;
  
}

.navOption:hover {
  background-color: #FAFAFA;
}

.navLink {
  display: block;
  padding-top:4%;
  padding-bottom:4%;
  width:100%;
  height:100%;
  text-decoration: none;
  color:rgb(214, 214, 214);
}
.navIcon {
  margin-right:3%;
  margin-left:10%;
  width:15%;
}

.navLink:hover {
  color:rgb(66, 66, 66);
}


.navLink:hover > .navIcon {
  color:rgba(91,99,218,1);
}